---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar'
import SwitchingVideo from '../components/switching-video';
import { supabase } from "../lib/supabase";

const { cookies, url } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let user = null;

let pathname = url.pathname;

if (accessToken && refreshToken) {
  const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (!error) {
    user = data.user ?? null;
  } else {
    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });
  }
}
---

<Layout title="Maximal Asset Management - We Make Capital Work for Us">
  <head>
    <meta name="description" content="Maximal Asset Management provides exceptional investment services, making capital work effectively for our clients.">
    <meta name="keywords" content="Asset Management, Investment, Capital, Maximal Asset Management, Financial Services">
    <link rel="canonical" href="https://www.maximalam.com">
  </head>
  <section class="z-50 absolute">
    <Navbar pathname={pathname} user={user} client:load />
  </section>
  <section class="relative flex items-center justify-center overflow-hidden pt-[400px] sm:pt-[500px] md:pt-[600px] lg:pt-[700px]">
    <div class="mt-px video-container absolute left-12 top-24 w-auto min-h-full min-w-full max-h-[90vh] max-w-none object-cover bg-blue-900 border-transparent" />
    <SwitchingVideo client:load />
    <div class="banner-grow absolute left-12 bottom-0 right-0 h-16 md:h-32 lg:h-16 bg-blue-900 opacity-90">
      <h1 class="text-fade-in font-serif text-md sm:text-2xl md:text-4xl lg:text-7xl text-white text-left h-full flex items-center px-4 lg:px-8 w-full max-w-7xl mx-auto font-light">
        Together, We <br class="hidden lg:flex" />Make Capital Work for Us
      </h1>
    </div>
  </section>
  <section class="my-12 max-w-6xl md:mx-auto pl-4 md:pl-12 pr-4 mx-8">
    <h1 class="text-2xl font-serif font-medium text-blue-900 pb-2">Maximal Asset Management</h1>
    <p class="pb-10 text-balance text-base text-gray-700">Maximal Asset Management offers innovative investment solutions to maximize returns and manage risk, tailored to help clients achieve their financial goals.</p>
    <div class="mb-12 flex flex-col md:flex-row justify-between">
      <div class="w-full md:w-1/5 mb-4 md:mb-0 pr-4">
        <h2 class="text-2xl font-semibold text-blue-900">Team's Academic Background</h2>
      </div>
      <div class="w-full md:w-4/5 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-6 text-base lg:text-xl text-gray-700">
        <p class="text-balance">Our team boasts advanced degrees from prestigious institutions including Yale, the University of Michigan, Johns Hopkins University, and the University of Cambridge.</p>
      </div>
    </div>
    <div class="mb-12 flex flex-col md:flex-row justify-between">
      <div class="w-full md:w-1/5 mb-4 md:mb-0 pr-4">
        <h2 class="text-2xl font-semibold text-blue-900">Track Record</h2>
      </div>
      <div class="w-full md:w-4/5 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-6 text-base lg:text-xl text-gray-700">
        <p class="text-balance">Over a 2 years track record since August 2022, Maximal achieved a return of 37.79%, outperforming benchmarks such as the MSCI World (29.91%) and the MSCI AC Div HY (10.54%).</p>
      </div>
    </div>
    <div class="mb-12 flex flex-col md:flex-row justify-between">
      <div class="w-full md:w-1/5 mb-4 md:mb-0 pr-4">
        <h2 class="text-2xl font-semibold text-blue-900">Maximal Global Income Performance</h2>
      </div>
      <div class="w-full md:w-4/5 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-6 text-base lg:text-xl text-gray-700">
        <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0 h-auto md:h-40">
          <div class="flex flex-col items-center w-full md:w-1/3">
            <span class="text-5xl font-serif font-light text-blue-900">37.79%</span>
            <span class="text-base text-gray-600">Maximal</span>
          </div>
          <div class="flex flex-col items-center w-full md:w-1/3 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-4">
            <span class="text-5xl font-serif font-light text-blue-900">29.91%</span>
            <span class="text-base text-gray-600">MSCI World</span>
          </div>
          <div class="flex flex-col items-center w-full md:w-1/3 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-4">
            <span class="text-5xl font-serif font-light text-blue-900">10.54%</span>
            <span class="text-base text-gray-600">MSCI AC Div HY</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-12 flex flex-col md:flex-row justify-between">
      <div class="w-full md:w-1/5 mb-4 md:mb-0 pr-4">
        <h2 class="text-2xl font-semibold text-blue-900">Before founding Maximal, our team managed significant assets:</h2>
      </div>
      <div class="w-full md:w-4/5 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-6 text-base lg:text-xl text-gray-700">
        <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0 h-auto md:h-40">
          <div class="text-center flex flex-col items-center text-balance space-y-2 w-full md:w-1/3">
            <span class="text-5xl font-serif font-light text-blue-900">$17B</span>
            <span class="text-base text-gray-600">Alliance Bernstein US Strategic Equities: Approximately $17B (as of December 2017)</span>
          </div>
          <div class="text-center text-balance space-y-2 flex flex-col items-center w-full md:w-1/3 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-4">
            <span class="text-5xl font-serif font-light text-blue-900">$3B</span>
            <span class="text-base text-gray-600">PIMCO Multi-Asset Alternative Risk Premia Strategy (MAARS) Fund: Approximately $3B (as of December 2020)</span>
          </div>
          <div class="text-center text-balance space-y-2 flex flex-col items-center w-full md:w-1/3 border-l-0 md:border-l-2 border-gray-300 pl-0 md:pl-4">
            <span class="text-5xl font-serif font-light text-blue-900">$20B</span>
            <span class="text-base text-gray-600">Since founding Maximal in 2022, the team has managed a combined $20B in assets.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bannerGrow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.video-container {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.text-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards; /* Delayed to start after banner grow */
}

.video-fade-in {
  animation: fadeIn 3s ease-in-out;
}

.banner-grow {
  width: 0;
  height: 50px; /* Default height for mobile screens */
  animation: bannerGrow 2s ease-in-out 1s forwards; /* Delay to start after video starts */
}

@media (min-width: 768px) {
  .banner-grow {
    height: 100px; /* Adjusted height for medium screens */
  }
}

@media (min-width: 1024px) {
  .banner-grow {
    height: 200px; /* Adjusted height for large screens */
  }
}
</style>
