<footer class="bg-white text-black text-center py-6 w-screen">
  <div class="px-4">
    <p class="mb-2">
      © 2024 Maximal Asset Management LLC. All Rights Reserved.
    </p>
    <p class="text-sm leading-relaxed max-w-2xl mx-auto">
      The materials on this website are for illustration and discussion purposes
      only and do not constitute an offering. An offering may be made only by
      delivery of a confidential offering memorandum to appropriate investors.
      PAST PERFORMANCE IS NO GUARANTEE OF FUTURE RESULTS.
    </p>
  </div>
</footer>;
